* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: #0a0a0a;
  color: #ffffffe7;
}

.container {
  width: 70%;
  margin: 1rem auto;
  height: 80px;
  font-size: 2rem;
  padding: 2rem;
  overflow: hidden;
  border-radius: 1.4rem;
  white-space: nowrap;
  background-color: #ffffff14;
  box-shadow: rgba(75, 0, 130, 0.25) 0px 54px 55px,
    rgba(75, 0, 130, 0.12) 0px -12px 30px, rgba(75, 0, 130, 0.12) 0px 4px 6px,
    rgba(75, 0, 130, 0.17) 0px 12px 13px, rgba(75, 0, 130, 0.09) 0px -3px 5px;
}

p {
  animation-name: sliding;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}

@keyframes sliding {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: -90%;
  }
}
