* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.container {
  /* background-color: #ffffff46; */
  position: relative;
}

.box {
  width: 200px;
  height: 100px;
  background-color: rgb(199, 43, 43);
  animation-name: moving;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation-direction: alternate; */
  position: absolute;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
}

@keyframes moving {
  0% {
    background-color: orange;
    top: 10px;
    left: 10px;
  }
  25% {
    background-color: rgb(232, 10, 47);
    top: 10px;
    left: 490px;
  }
  50% {
    background-color: rgba(165, 42, 42, 0.893);
    top: 500px;
    left: 490px;
  }
  75% {
    background-color: rgba(214, 11, 21, 0.893);
    top: 500px;
    left: 10px;
  }
  100% {
    background-color: pink;
    top: 10px;
    left: 10px;
  }
}
