* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #0a0a0a;
  color: #fff;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  font-size: 1.4rem;
}

.sun {
  background-color: #fc9601;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 10px #d14209d4;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mercury {
  width: 50px;
  height: 50px;
  background-color: #504e51;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 10px #ceccd19a;
}

.first-orbit {
  width: 300px;
  height: 300px;
  border: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: moving 3s linear infinite;
}

@keyframes moving {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
