* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: grow 2s linear forwards;
}

@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
